# Dependencies
node_modules/
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Environment
.env
.env.local
.env.*.local

# Build outputs
/dist
build
.cache
.medusa

# Backend specific
backend/.medusa
backend/uploads

# Frontend specific
frontend/.next
frontend/out

# IDE
.idea
.vscode/*
!.vscode/settings.json

# OS
.DS_Store

# Logs
yarn-error.log
*.log

# Testing
coverage

# Database
medusa-db.sql

# TypeScript
./tsconfig.tsbuildinfo
